### IMPORT PACKAGE

In [1]:
# import packages pandas and numpy
import pandas as pd
import numpy as np
import re

C:\Users\Joseph Antonio\AppData\Local\Temp\ipykernel_11388\1639688769.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

### EXTRACT DATA

In [2]:
# function to extract excel file as dataframe
def extract(file_path, sheet, rows, ind_col):
    
    # read the file into memory
    data = pd.read_excel(file_path, sheet_name = sheet, nrows = rows, index_col = ind_col)

    # excel to df
    data = pd.DataFrame(data)
    
    # printing details about the file
    print(f"data store in [{file_path}]:")
    print(f"\nNumber of rows [{data.shape[0]}], and Number of columns [{data.shape[1]}] in dataframe")
    print(f"\nColumns in dataframe with it's data types: ")
    
    # print data types
    print(data.dtypes)
    
    print(f"\n Printing the count value of NULL per column\n")
    print(data.isna().sum())
    
    # print message before returning the dataframe
    print(f"\nTo view the dataframe extracted from {file_path}, display the value returned by this function!\n\n") 
    
    return data

In [3]:
# call the function
psgc = extract("datasets\\PSGC-4Q-2023-Publication-Datafile.xlsx",
               sheet = 3,
               rows = None,
               ind_col = None )

data store in [datasets\PSGC-4Q-2023-Publication-Datafile.xlsx]:

Number of rows [43762], and Number of columns [13] in dataframe

Columns in dataframe with it's data types:
10-digit PSGC                         float64
Name                                   object
Correspondence Code                   float64
Geographic Level                       object
Old names                              object
City Class                             object
Income\nClassification                 object
Urban / Rural\n(based on 2020 CPH)     object
2015 Population                        object
Unnamed: 9                             object
2020 Population                        object
Unnamed: 11                            object
Status                                 object
dtype: object

 Printing the count value of NULL per column

10-digit PSGC                             4
Name                                      0
Correspondence Code                      38
Geographic Level                          2
Old names                             42069
City Class                            43613
Income\nClassification                42046
Urban / Rural\n(based on 2020 CPH)     1761
2015 Population                          13
Unnamed: 9                            43717
2020 Population                          13
Unnamed: 11                           43726
Status                                40907
dtype: int64

To view the dataframe extracted from datasets\PSGC-4Q-2023-Publication-Datafile.xlsx, display the value returned by this function!

### TRANSFORMING DATA

In [4]:
# renaming and cleaning the columns/headers 
def transform(data):

    # prints original column names:
    print(f"original columns: {data.columns}\n")
    
    # changing columns/headers string to lowercase, replacing special characters to spaces
    clean_columns = data.columns.str.lower().str.replace(r'[\W\n/()-]|:', '', regex=True)
    
    # passing function as clean_columns to dataframe columns
    data.columns = clean_columns
    
    # return to function
    return data

In [21]:
# Transformation
psgc = transform(psgc)

original columns: Index(['10digitpsgc', 'name', 'correspondencecode', 'geographiclevel',
       'oldnames', 'cityclass', 'incomeclassification',
       'urbanruralbasedon2020cph', '2015population', 'unnamed9',
       '2020population', 'unnamed11', 'status'],
      dtype='object')

In [6]:
def filter_cols(data, column_name, level):
    
    if column_name not in data.columns:
        print(f"Column '{column_name}' not found in DataFrame.")
        return None
    
    data = data[data[column_name] == level][['10digitpsgc', 'name', 'correspondencecode', 'geographiclevel',
       'oldnames', 'cityclass', 'incomeclassification',
       'urbanruralbasedon2020cph', '2015population',
       '2020population','status']]
    
    return data

In [22]:
columns = psgc.columns

columns

Index(['10digitpsgc', 'name', 'correspondencecode', 'geographiclevel',
       'oldnames', 'cityclass', 'incomeclassification',
       'urbanruralbasedon2020cph', '2015population', 'unnamed9',
       '2020population', 'unnamed11', 'status'],
      dtype='object')

In [23]:
# Records per Regional
regional = filter_cols(psgc, 'geographiclevel', "Reg")

# Regional Output
regional

,10digitpsgc,name,correspondencecode,geographiclevel,oldnames,cityclass,incomeclassification,urbanruralbasedon2020cph,2015population,2020population,status
0,1.000000e+08,Region I (Ilocos Region),10000000.0,Reg,NaN,NaN,NaN,NaN,5026128,5301139,NaN
3397,2.000000e+08,Region II (Cagayan Valley),20000000.0,Reg,NaN,NaN,NaN,NaN,3451410,3685744,NaN
5807,3.000000e+08,Region III (Central Luzon),30000000.0,Reg,NaN,NaN,NaN,NaN,11218177,12422172,NaN
9050,4.000000e+08,Region IV-A (CALABARZON),40000000.0,Reg,NaN,NaN,NaN,NaN,14414774,16195042,NaN
13191,1.700000e+09,MIMAROPA Region,170000000.0,Reg,NaN,NaN,NaN,NaN,2963360,3228558,NaN
14730,5.000000e+08,Region V (Bicol Region),50000000.0,Reg,NaN,NaN,NaN,NaN,5796989,6082165,NaN
18322,6.000000e+08,Region VI (Western Visayas),60000000.0,Reg,NaN,NaN,NaN,NaN,7536383,7954723,NaN
22513,7.000000e+08,Region VII (Central Visayas),70000000.0,Reg,NaN,NaN,NaN,NaN,7396898,8081988,NaN
25653,8.000000e+08,Region VIII (Eastern Visayas),80000000.0,Reg,NaN,NaN,NaN,NaN,4440150,4547150,NaN
30168,9.000000e+08,Region IX (Zamboanga Peninsula),90000000.0,Reg,NaN,NaN,NaN,NaN,3629783,3875576,NaN
32149,1.000000e+09,Region X (Northern Mindanao),100000000.0,Reg,NaN,NaN,NaN,NaN,4689302,5022768,NaN
34270,1.100000e+09,Region XI (Davao Region),110000000.0,Reg,NaN,NaN,NaN,NaN,4893318,5243536,NaN
35487,1.200000e+09,Region XII (SOCCSKSARGEN),120000000.0,Reg,NaN,NaN,NaN,NaN,4545276,4901486,NaN
36637,1.300000e+09,National Capital Region (NCR),130000000.0,Reg,NaN,NaN,NaN,NaN,12877253,13484462,NaN
38383,1.400000e+09,Cordillera Administrative Region (CAR),140000000.0,Reg,NaN,NaN,NaN,NaN,1722006,1797660,NaN
39645,1.600000e+09,Region XIII (Caraga),160000000.0,Reg,NaN,NaN,NaN,NaN,2596709,2804788,NaN
41035,1.900000e+09,Bangsamoro Autonomous Region In Muslim Mindana...,150000000.0,Reg,NaN,NaN,NaN,NaN,3781387,4404288,NaN

In [9]:
# Records per Regional
provincial = filter_cols(psgc, 'geographiclevel', "Prov")

# Provincial Output
provincial

,10digitpsgc,name,correspondencecode,geographiclevel,oldnames,cityclass,incomeclassification,urbanruralbasedon2020cph,2015population,2020population,status
1,1.028000e+08,Ilocos Norte,12800000.0,Prov,NaN,NaN,1st,NaN,593081,609588,NaN
584,1.029000e+08,Ilocos Sur,12900000.0,Prov,NaN,NaN,1st,NaN,689668,706009,NaN
1387,1.033000e+08,La Union,13300000.0,Prov,NaN,NaN,1st,NaN,786653,822352,NaN
1984,1.055000e+08,Pangasinan,15500000.0,Prov,NaN,NaN,1st,NaN,2956726,3163190,NaN
3398,2.009000e+08,Batanes,20900000.0,Prov,NaN,NaN,5th,NaN,17246,18831,NaN
...,...,...,...,...,...,...,...,...,...,...,...
41259,1.903600e+09,Lanao del Sur,153600000.0,Prov,NaN,NaN,1st,NaN,1045429,1195518,NaN
42461,1.906600e+09,Sulu,156600000.0,Prov,NaN,NaN,2nd,NaN,824731,1000108,NaN
42891,1.907000e+09,Tawi-Tawi,157000000.0,Prov,NaN,NaN,3rd,NaN,390715,440276,NaN
43106,1.908700e+09,Maguindanao del Norte,NaN,Prov,NaN,NaN,1st,NaN,"(excluding COTOBATO CITY) 536,900","(excluding COTOBATO CITY) 618,421",NaN
43378,1.908800e+09,Maguindanao del Sur,NaN,Prov,NaN,NaN,1st,NaN,637033,723758,NaN

In [10]:
# Records per Municipal
municipal = filter_cols(psgc, 'geographiclevel', "Mun")

# Municipal Output
municipal

,10digitpsgc,name,correspondencecode,geographiclevel,oldnames,cityclass,incomeclassification,urbanruralbasedon2020cph,2015population,2020population,status
2,1.028010e+08,Adams,12801000.0,Mun,NaN,NaN,5th,NaN,1792,2189,NaN
4,1.028020e+08,Bacarra,12802000.0,Mun,NaN,NaN,3rd,NaN,32215,33496,NaN
48,1.028030e+08,Badoc,12803000.0,Mun,NaN,NaN,3rd,NaN,31616,32530,NaN
80,1.028040e+08,Bangui,12804000.0,Mun,NaN,NaN,4th,NaN,14672,15019,NaN
139,1.028060e+08,Burgos,12806000.0,Mun,NaN,NaN,5th,NaN,9777,10759,NaN
...,...,...,...,...,...,...,...,...,...,...,...
43618,1.908820e+09,Shariff Aguak,153808000.0,Mun,Maganoy,NaN,2nd,NaN,31692,33982,NaN
43632,1.908821e+09,Shariff Saydona Mustapha,153837000.0,Mun,NaN,NaN,-,NaN,19855,25080,NaN
43649,1.908822e+09,South Upi,153817000.0,Mun,NaN,NaN,4th*,NaN,40178,43197,NaN
43661,1.908823e+09,Sultan Sa Barongis,153813000.0,Mun,Lambayong,NaN,2nd,NaN,22425,24476,NaN
43674,1.908824e+09,Talayan,153816000.0,Mun,NaN,NaN,4th*,NaN,30032,34156,NaN

In [11]:
# Records per City
city = filter_cols(psgc, 'geographiclevel', "City")

# City Output
city

,10digitpsgc,name,correspondencecode,geographiclevel,oldnames,cityclass,incomeclassification,urbanruralbasedon2020cph,2015population,2020population,status
95,1.028050e+08,City of Batac,12805000.0,City,NaN,CC,5th,NaN,55201,55484,NaN
237,1.028120e+08,City of Laoag,12812000.0,City,NaN,CC,3rd,NaN,111125,111651,Capital
706,1.029060e+08,City of Candon,12906000.0,City,NaN,CC,4th,NaN,60623,61432,NaN
1347,1.029340e+08,City of Vigan,12934000.0,City,NaN,CC,4th,NaN,53879,53935,Capital
1792,1.033140e+08,City of San Fernando,13314000.0,City,NaN,CC,3rd,NaN,121812,125640,Capital
...,...,...,...,...,...,...,...,...,...,...,...
40629,1.606803e+09,City of Bislig,166803000.0,City,NaN,CC,3rd,NaN,94535,99290,NaN
40905,1.606819e+09,City of Tandag,166819000.0,City,NaN,CC,5th,NaN,56364,62669,Capital
41037,1.900702e+09,City of Lamitan,150702000.0,City,NaN,CC,6th,NaN,74782,100150,Capital
41736,1.903617e+09,City of Marawi,153617000.0,City,NaN,CC,4th,NaN,201785,207010,Capital
43138,1.908703e+09,City of Cotabato,129804000.0,City,NaN,ICC,3rd,NaN,299438,325079,NaN

In [12]:
# Records per Baranggay
baranggay = filter_cols(psgc, 'geographiclevel', "Bgy")

# Count Records of Baranggay
print(f"Baranggay counts are: {baranggay.shape[0]}\n")

# Count based on urbanruralbasedon2020cph
brgy_ur_count = baranggay.groupby(['urbanruralbasedon2020cph'])['urbanruralbasedon2020cph'].count()
print("Count of Urban/ Rural/ Null:")
print(f"{brgy_ur_count.to_string(header=False)}\n")


# Baranggay Output
baranggay

Baranggay counts are: 42001

Count of Urban/ Rural/ Null:
-       27
R    34054
U     7920

,10digitpsgc,name,correspondencecode,geographiclevel,oldnames,cityclass,incomeclassification,urbanruralbasedon2020cph,2015population,2020population,status
3,1.028010e+08,Adams,12801001.0,Bgy,NaN,NaN,NaN,R,1792,2189,Pob.
5,1.028020e+08,Bani,12802001.0,Bgy,NaN,NaN,NaN,R,853,1079,NaN
6,1.028020e+08,Buyon,12802002.0,Bgy,NaN,NaN,NaN,R,1596,1669,NaN
7,1.028020e+08,Cabaruan,12802003.0,Bgy,NaN,NaN,NaN,R,1413,1418,NaN
8,1.028020e+08,Cabulalaan,12802004.0,Bgy,NaN,NaN,NaN,R,733,733,NaN
...,...,...,...,...,...,...,...,...,...,...,...
43757,1.999908e+09,Lagunde,124712030.0,Bgy,NaN,NaN,NaN,U,3701,5332,NaN
43758,1.999908e+09,Macasendeg,124712035.0,Bgy,NaN,NaN,NaN,R,3775,2516,NaN
43759,1.999908e+09,Manaulanan,124712037.0,Bgy,NaN,NaN,NaN,U,7477,7632,NaN
43760,1.999908e+09,Pamalian,124712062.0,Bgy,NaN,NaN,NaN,R,2982,3256,NaN
43761,1.999908e+09,Tapodoc,124717017.0,Bgy,NaN,NaN,NaN,R,2255,1767,NaN

In [13]:
# Records per NCR Districts
ncr_districts = filter_cols(psgc, 'geographiclevel', "Dist")

# Count of Districts NCR
print(f"NCR Disctricts counts are: {ncr_districts.shape[0]}\n")

# NCR Districts Output
ncr_districts

NCR Disctricts counts are: 4

,10digitpsgc,name,correspondencecode,geographiclevel,oldnames,cityclass,incomeclassification,urbanruralbasedon2020cph,2015population,2020population,status
36638,NaN,"NCR, City of Manila, First District (Not a Pro...",133900000.0,Dist,NaN,NaN,NaN,NaN,1780148,1846513,NaN
37551,NaN,"NCR, Second District (Not a Province)",137400000.0,Dist,NaN,NaN,NaN,NaN,4650613,4771371,NaN
37793,NaN,"NCR, Third District (Not a Province)",137500000.0,Dist,NaN,NaN,NaN,NaN,2819388,3004627,NaN
38058,NaN,"NCR, Fourth District (Not a Province)",137600000.0,Dist,NaN,NaN,NaN,NaN,3627104,3861951,NaN

In [14]:
def info_details(source):
    
    data = source
    print(f"There are {data.shape[0]} records\n")
    
    ur_count = data.groupby(['urbanruralbasedon2020cph'])['urbanruralbasedon2020cph'].count()
    print("Count of Urban/Rural based on 2020 CPH:")
    print(f"{ur_count.to_string(index=True, header=False)}\n")
    
    status_count = data.groupby(['status'])['status'].count()
    print("Count of Status:")
    print(f"{status_count.to_string(index=True, header=False)}\n")
    
    class_count = data.groupby(['incomeclassification'])['incomeclassification'].count()
    print("Count of Income Classification:")
    print(f"{class_count.to_string(index=True, header=False)}\n")     
    
    return data

In [15]:
# Urban Baranggay Based on 2020 CPH
urban = filter_cols(psgc, 'urbanruralbasedon2020cph', "U")

# Display rural dataframe
urban

,10digitpsgc,name,correspondencecode,geographiclevel,oldnames,cityclass,incomeclassification,urbanruralbasedon2020cph,2015population,2020population,status
60,1.028030e+08,Garreta,12803013.0,Bgy,NaN,NaN,NaN,U,1376,1383,Pob.
106,1.028050e+08,Callaguip,12805012.0,Bgy,NaN,NaN,NaN,U,900,832,Pob.
111,1.028050e+08,Caunayan,12805017.0,Bgy,NaN,NaN,NaN,U,1175,1105,Pob.
118,1.028050e+08,Lacub,12805024.0,Bgy,NaN,NaN,NaN,U,502,422,Pob.
124,1.028050e+08,Ricarte Pob.,12805030.0,Bgy,Nalasin,NaN,NaN,U,818,765,NaN
...,...,...,...,...,...,...,...,...,...,...,...
43742,1.999906e+09,Nunguan,124712044.0,Bgy,NaN,NaN,NaN,U,4569,5380,NaN
43748,1.999907e+09,Bulol,124712012.0,Bgy,NaN,NaN,NaN,U,4203,5145,NaN
43750,1.999907e+09,Kabasalan,124712024.0,Bgy,NaN,NaN,NaN,U,5769,7591,NaN
43757,1.999908e+09,Lagunde,124712030.0,Bgy,NaN,NaN,NaN,U,3701,5332,NaN
43759,1.999908e+09,Manaulanan,124712037.0,Bgy,NaN,NaN,NaN,U,7477,7632,NaN

In [16]:
# Rural Baranggay Based on 2020 CPH
rural = filter_cols(psgc, 'urbanruralbasedon2020cph', "R")

# Display rural dataframe
rural

,10digitpsgc,name,correspondencecode,geographiclevel,oldnames,cityclass,incomeclassification,urbanruralbasedon2020cph,2015population,2020population,status
3,1.028010e+08,Adams,12801001.0,Bgy,NaN,NaN,NaN,R,1792,2189,Pob.
5,1.028020e+08,Bani,12802001.0,Bgy,NaN,NaN,NaN,R,853,1079,NaN
6,1.028020e+08,Buyon,12802002.0,Bgy,NaN,NaN,NaN,R,1596,1669,NaN
7,1.028020e+08,Cabaruan,12802003.0,Bgy,NaN,NaN,NaN,R,1413,1418,NaN
8,1.028020e+08,Cabulalaan,12802004.0,Bgy,NaN,NaN,NaN,R,733,733,NaN
...,...,...,...,...,...,...,...,...,...,...,...
43755,1.999908e+09,Bualan,124712009.0,Bgy,NaN,NaN,NaN,R,2176,2177,NaN
43756,1.999908e+09,Dunguan,124717004.0,Bgy,NaN,NaN,NaN,R,2805,3285,NaN
43758,1.999908e+09,Macasendeg,124712035.0,Bgy,NaN,NaN,NaN,R,3775,2516,NaN
43760,1.999908e+09,Pamalian,124712062.0,Bgy,NaN,NaN,NaN,R,2982,3256,NaN
43761,1.999908e+09,Tapodoc,124717017.0,Bgy,NaN,NaN,NaN,R,2255,1767,NaN

In [17]:
# CC (Components Cities) based on City Class
cc = filter_cols(psgc, 'cityclass', 'CC')

# NCR Districts Output
cc

,10digitpsgc,name,correspondencecode,geographiclevel,oldnames,cityclass,incomeclassification,urbanruralbasedon2020cph,2015population,2020population,status
95,1.028050e+08,City of Batac,12805000.0,City,NaN,CC,5th,NaN,55201,55484,NaN
237,1.028120e+08,City of Laoag,12812000.0,City,NaN,CC,3rd,NaN,111125,111651,Capital
706,1.029060e+08,City of Candon,12906000.0,City,NaN,CC,4th,NaN,60623,61432,NaN
1347,1.029340e+08,City of Vigan,12934000.0,City,NaN,CC,4th,NaN,53879,53935,Capital
1792,1.033140e+08,City of San Fernando,13314000.0,City,NaN,CC,3rd,NaN,121812,125640,Capital
...,...,...,...,...,...,...,...,...,...,...,...
40518,1.606724e+09,City of Surigao,166724000.0,City,NaN,CC,3rd,NaN,154137,171107,Capital
40629,1.606803e+09,City of Bislig,166803000.0,City,NaN,CC,3rd,NaN,94535,99290,NaN
40905,1.606819e+09,City of Tandag,166819000.0,City,NaN,CC,5th,NaN,56364,62669,Capital
41037,1.900702e+09,City of Lamitan,150702000.0,City,NaN,CC,6th,NaN,74782,100150,Capital
41736,1.903617e+09,City of Marawi,153617000.0,City,NaN,CC,4th,NaN,201785,207010,Capital

In [18]:
# ICC (Independent Components Cities) based on City Class
icc = filter_cols(psgc, 'cityclass', 'ICC')

# ICC
icc

,10digitpsgc,name,correspondencecode,geographiclevel,oldnames,cityclass,incomeclassification,urbanruralbasedon2020cph,2015population,2020population,status
2438,1.055180e+08,City of Dagupan,15518000.0,City,NaN,ICC,2nd,NaN,171271,174302,NaN
5264,2.031350e+08,City of Santiago,23135000.0,City,NaN,ICC,1st,NaN,134830,148580,NaN
16477,5.017240e+08,City of Naga,51724000.0,City,NaN,ICC,2nd,NaN,196003,209170,NaN
27385,8.037380e+08,Ormoc City,83738000.0,City,NaN,ICC,1st,NaN,215031,230998,NaN
43138,1.908703e+09,City of Cotabato,129804000.0,City,NaN,ICC,3rd,NaN,299438,325079,NaN

In [19]:
# HUC (Highly Urbanized Cities) based on City Class
# Population: Minimum 200,000
# Annual Income: Php. 50M
huc = filter_cols(psgc, 'cityclass', 'HUC')

# HUC
huc

,10digitpsgc,name,correspondencecode,geographiclevel,oldnames,cityclass,incomeclassification,urbanruralbasedon2020cph,2015population,2020population,status
7538,3.301000e+08,City of Angeles,35401000.0,City,NaN,HUC,1st,NaN,411634,462928,NaN
8745,3.314000e+08,City of Olongapo,37107000.0,City,NaN,HUC,1st,NaN,233040,260317,NaN
12339,4.312000e+08,City of Lucena,45624000.0,City,NaN,HUC,2nd,NaN,266248,278924,Capital
14297,1.731500e+09,City of Puerto Princesa,175316000.0,City,NaN,HUC,1st,NaN,255116,307079,Capital
20474,6.310000e+08,City of Iloilo,63022000.0,City,NaN,HUC,1st,NaN,447992,457626,Capital
21715,6.302000e+08,City of Bacolod,64501000.0,City,NaN,HUC,1st,NaN,561875,600783,Capital
24041,7.306000e+08,City of Cebu,72217000.0,City,NaN,HUC,1st,NaN,922611,964169,Capital
24327,7.311000e+08,City of Lapu-Lapu,72226000.0,City,Opon,HUC,1st,NaN,408112,497604,NaN
24403,7.313000e+08,City of Mandaue,72230000.0,City,NaN,HUC,1st,NaN,362654,364116,NaN
27680,8.316000e+08,City of Tacloban,83747000.0,City,NaN,HUC,1st,NaN,242089,251881,Capital
31480,9.317000e+08,City of Zamboanga,97332000.0,City,NaN,HUC,1st,NaN,861799,977234,NaN
32765,1.030900e+09,City of Iligan,103504000.0,City,NaN,HUC,1st* (reclass 2005),NaN,342618,363115,NaN
33807,1.030500e+09,City of Cagayan De Oro,104305000.0,City,NaN,HUC,1st,NaN,675950,728402,Capital
34533,1.130700e+09,City of Davao,112402000.0,City,NaN,HUC,1st,NaN,1632991,1776949,NaN
36011,1.230800e+09,City of General Santos,126303000.0,City,Dadiangas,HUC,1st,NaN,594446,697315,NaN
36639,1.380600e+09,City of Manila,133900000.0,City,NaN,HUC,Special,NaN,1780148,1846513,NaN
37552,1.380500e+09,City of Mandaluyong,137401000.0,City,NaN,HUC,1st,NaN,386276,425758,NaN
37580,1.380700e+09,City of Marikina,137402000.0,City,NaN,HUC,1st,NaN,450741,456059,NaN
37597,1.381200e+09,City of Pasig,137403000.0,City,NaN,HUC,1st,NaN,755300,803159,NaN
37628,1.381300e+09,Quezon City,137404000.0,City,NaN,HUC,Special,NaN,2936116,2960048,NaN
37771,1.381400e+09,City of San Juan,137405000.0,City,NaN,HUC,1st,NaN,122180,126347,NaN
37794,1.380100e+09,City of Caloocan,137501000.0,City,NaN,HUC,1st,NaN,1583978,1661584,NaN
37983,1.380400e+09,City of Malabon,137502000.0,City,NaN,HUC,1st,NaN,365525,380522,NaN
38005,1.380900e+09,City of Navotas,137503000.0,City,NaN,HUC,2nd,NaN,249463,247543,NaN
38024,1.381600e+09,City of Valenzuela,137504000.0,City,NaN,HUC,1st,NaN,620422,714978,NaN
38059,1.380200e+09,City of Las Piñas,137601000.0,City,NaN,HUC,1st,NaN,588894,606293,NaN
38080,1.380300e+09,City of Makati,137602000.0,City,NaN,HUC,1st,NaN,582602,629616,NaN
38104,1.380800e+09,City of Muntinlupa,137603000.0,City,NaN,HUC,1st,NaN,504509,543445,NaN
38114,1.381000e+09,City of Parañaque,137604000.0,City,NaN,HUC,1st,NaN,665822,689992,NaN
38131,1.381100e+09,Pasay City,137605000.0,City,NaN,HUC,1st,NaN,416522,440656,NaN
38344,1.381500e+09,City of Taguig,137607000.0,City,NaN,HUC,1st,NaN,804915,886722,NaN
38725,1.430300e+09,City of Baguio,141102000.0,City,NaN,HUC,1st,NaN,345366,366358,NaN
39673,1.630400e+09,City of Butuan,160202000.0,City,NaN,HUC,1st,NaN,337063,372910,Capital

In [20]:
brgy_details = info_details(baranggay)

brgy_details

There are 42001 records

Count of Urban/Rural based on 2020 CPH:
-       27
R    34054
U     7920

Count of Status:
Pob.    2773

Count of Income Classification:
Series([], )

,10digitpsgc,name,correspondencecode,geographiclevel,oldnames,cityclass,incomeclassification,urbanruralbasedon2020cph,2015population,2020population,status
3,1.028010e+08,Adams,12801001.0,Bgy,NaN,NaN,NaN,R,1792,2189,Pob.
5,1.028020e+08,Bani,12802001.0,Bgy,NaN,NaN,NaN,R,853,1079,NaN
6,1.028020e+08,Buyon,12802002.0,Bgy,NaN,NaN,NaN,R,1596,1669,NaN
7,1.028020e+08,Cabaruan,12802003.0,Bgy,NaN,NaN,NaN,R,1413,1418,NaN
8,1.028020e+08,Cabulalaan,12802004.0,Bgy,NaN,NaN,NaN,R,733,733,NaN
...,...,...,...,...,...,...,...,...,...,...,...
43757,1.999908e+09,Lagunde,124712030.0,Bgy,NaN,NaN,NaN,U,3701,5332,NaN
43758,1.999908e+09,Macasendeg,124712035.0,Bgy,NaN,NaN,NaN,R,3775,2516,NaN
43759,1.999908e+09,Manaulanan,124712037.0,Bgy,NaN,NaN,NaN,U,7477,7632,NaN
43760,1.999908e+09,Pamalian,124712062.0,Bgy,NaN,NaN,NaN,R,2982,3256,NaN
43761,1.999908e+09,Tapodoc,124717017.0,Bgy,NaN,NaN,NaN,R,2255,1767,NaN